In [2]:
import json
import os
def read_raw_database():
    with open('./data/raw_database.json', 'r') as f:
        raw_database = json.load(f)
    return raw_database
data = read_raw_database()

In [3]:
import pandas as pd
df = pd.DataFrame(data)
df

,district,amphoe,province,zipcode,district_code,amphoe_code,province_code
0,คลองท่อมเหนือ,คลองท่อม,กระบี่,81120,810402,8104,81
1,คลองท่อมใต้,คลองท่อม,กระบี่,81120,810401,8104,81
2,คลองพน,คลองท่อม,กระบี่,81170,810403,8104,81
3,ทรายขาว,คลองท่อม,กระบี่,81170,810404,8104,81
4,พรุดินนา,คลองท่อม,กระบี่,81120,810406,8104,81
...,...,...,...,...,...,...,...
7492,เสาหิน,แม่สะเรียง,แม่ฮ่องสอน,58110,580406,5804,58
7493,แม่คง,แม่สะเรียง,แม่ฮ่องสอน,58110,580403,5804,58
7494,แม่ยวม,แม่สะเรียง,แม่ฮ่องสอน,58110,580405,5804,58
7495,แม่สะเรียง,แม่สะเรียง,แม่ฮ่องสอน,58110,580402,5804,58
7496,แม่เหาะ,แม่สะเรียง,แม่ฮ่องสอน,58110,580404,5804,58

In [8]:
# filter นครราชสีมา
df = df[df['province'] == 'นครราชสีมา']

In [9]:
df

,district,amphoe,province,zipcode,district_code,amphoe_code,province_code
1735,ขามทะเลสอ,ขามทะเลสอ,นครราชสีมา,30280,301901,3019,30
1736,บึงอ้อ,ขามทะเลสอ,นครราชสีมา,30280,301905,3019,30
1737,พันดุง,ขามทะเลสอ,นครราชสีมา,30280,301903,3019,30
1738,หนองสรวง,ขามทะเลสอ,นครราชสีมา,30280,301904,3019,30
1739,โป่งแดง,ขามทะเลสอ,นครราชสีมา,30280,301902,3019,30
...,...,...,...,...,...,...,...
2019,บ้านวัง,โนนไทย,นครราชสีมา,30220,300906,3009,30
2020,มะค่า,โนนไทย,นครราชสีมา,30220,300914,3009,30
2021,สายออ,โนนไทย,นครราชสีมา,30220,300908,3009,30
2022,สำโรง,โนนไทย,นครราชสีมา,30220,300904,3009,30
2023,โนนไทย,โนนไทย,นครราชสีมา,30220,300901,3009,30

In [10]:
## save to csv using encoding='utf-8-sig' to fix thai language
df.to_csv('./data/nakhon_ratchasima.csv', index=False, encoding='utf-8-sig')

In [11]:
df

,district,amphoe,province,zipcode,district_code,amphoe_code,province_code
1735,ขามทะเลสอ,ขามทะเลสอ,นครราชสีมา,30280,301901,3019,30
1736,บึงอ้อ,ขามทะเลสอ,นครราชสีมา,30280,301905,3019,30
1737,พันดุง,ขามทะเลสอ,นครราชสีมา,30280,301903,3019,30
1738,หนองสรวง,ขามทะเลสอ,นครราชสีมา,30280,301904,3019,30
1739,โป่งแดง,ขามทะเลสอ,นครราชสีมา,30280,301902,3019,30
...,...,...,...,...,...,...,...
2019,บ้านวัง,โนนไทย,นครราชสีมา,30220,300906,3009,30
2020,มะค่า,โนนไทย,นครราชสีมา,30220,300914,3009,30
2021,สายออ,โนนไทย,นครราชสีมา,30220,300908,3009,30
2022,สำโรง,โนนไทย,นครราชสีมา,30220,300904,3009,30
2023,โนนไทย,โนนไทย,นครราชสีมา,30220,300901,3009,30

In [12]:
# convert to json
df.to_json('./data/nakhon_ratchasima.json', orient='records', force_ascii=False)

In [34]:
# read data from nakorn_ratchasima.json to dataframe
df = pd.read_json('./data/nakhon_ratchasima.json')

# show amphoe
amphoe=df['amphoe'].unique()
amphoe

array(['ขามทะเลสอ', 'ขามสะแกแสง', 'คง', 'ครบุรี', 'จักราช', 'ชุมพวง',
       'ด่านขุนทด', 'บัวลาย', 'บัวใหญ่', 'บ้านเหลื่อม', 'ประทาย',
       'ปักธงชัย', 'ปากช่อง', 'พระทองคำ', 'พิมาย', 'ลำทะเมนชัย',
       'วังน้ำเขียว', 'สีคิ้ว', 'สีดา', 'สูงเนิน', 'หนองบุญมาก',
       'ห้วยแถลง', 'เฉลิมพระเกียรติ', 'เทพารักษ์', 'เมืองนครราชสีมา',
       'เมืองยาง', 'เสิงสาง', 'แก้งสนามนาง', 'โชคชัย', 'โนนสูง', 'โนนแดง',
       'โนนไทย'], dtype=object)

In [13]:
district = df['district'].unique()

district

array(['ขามทะเลสอ', 'บึงอ้อ', 'พันดุง', 'หนองสรวง', 'โป่งแดง',
       'ขามสะแกแสง', 'ชีวึก', 'พะงาด', 'หนองหัวฟาน', 'เมืองนาท',
       'เมืองเกษตร', 'โนนเมือง', 'ขามสมบูรณ์', 'คูขาด', 'ดอนใหญ่',
       'ตาจั่น', 'บ้านปรางค์', 'หนองบัว', 'หนองมะนาว', 'เทพาลัย',
       'เมืองคง', 'โนนเต็ง', 'ครบุรี', 'ครบุรีใต้', 'จระเข้หิน',
       'ตะแบกบาน', 'บ้านใหม่', 'มาบตะโกเอน', 'ลำเพียก', 'สระว่านพระยา',
       'อรพิมพ์', 'เฉลียง', 'แชะ', 'โคกกระชาย', 'คลองเมือง', 'จักราช',
       'ทองหลาง', 'ศรีละกอ', 'สีสุก', 'หนองขาม', 'หนองพลวง', 'หินโคน',
       'ชุมพวง', 'ตลาดไทร', 'ท่าลาด', 'ประสุข', 'สาหร่าย', 'หนองหลัก',
       'โนนตูม', 'โนนยอ', 'โนนรัง', 'กุดพิมาน', 'ด่านขุนทด', 'ด่านนอก',
       'ด่านใน', 'ตะเคียน', 'บ้านเก่า', 'บ้านแปรง', 'พันชนะ', 'สระจรเข้',
       'หนองกราด', 'หนองบัวตะเกียด', 'หนองบัวละคร', 'หนองไทร', 'หินดาด',
       'ห้วยบง', 'โนนเมืองพัฒนา', 'บัวลาย', 'หนองหว้า', 'เมืองพะไล',
       'โนนจาน', 'กุดจอก', 'ขุนทอง', 'ดอนตะหนิน', 'ด่านช้าง', 'บัวใหญ่',
       'หนองบัวสะอาด', 'หนองแจ้งใหญ่', 'ห้วยยาง', 'เสมาใหญ่',
       'โนนทองหลาง', 'ช่อระกา', 'บ้านเหลื่อม', 'วังโพธิ์', 'โคกกระเบื้อง',
       'กระทุ่มราย', 'ดอนมัน', 'ทุ่งสว่าง', 'นางรำ', 'ประทาย',
       'วังไม้แดง', 'หนองค่าย', 'หันห้วยทราย', 'เมืองโดน', 'โคกกลาง',
       'โนนเพ็ด', 'งิ้ว', 'ดอน', 'ตะขบ', 'ตะคุ', 'ตูม', 'ธงชัยเหนือ',
       'นกออก', 'บ่อปลาทอง', 'ภูหลวง', 'ลำนางแก้ว', 'สะแกราช', 'สำโรง',
       'สุขเกษม', 'เกษมทรัพย์', 'เมืองปัก', 'โคกไทย', 'กลางดง', 'ขนงพระ',
       'คลองม่วง', 'จันทึก', 'ปากช่อง', 'พญาเย็น', 'วังกะทะ', 'วังไทร',
       'หนองน้ำแดง', 'หนองสาหร่าย', 'หมูสี', 'โป่งตาลอง', 'ทัพรั้ง',
       'พังเทียม', 'มาบกราด', 'สระพระ', 'หนองหอย', 'กระชอน',
       'กระเบื้องใหญ่', 'ชีวาน', 'ดงใหญ่', 'ท่าหลวง', 'ธารละหลอด',
       'นิคมสร้างตนเอง', 'รังกาใหญ่', 'สัมฤทธิ์', 'หนองระเวียง', 'โบสถ์',
       'ในเมือง', 'ขุย', 'ช่องแมว', 'บ้านยาง', 'ไพล', 'ระเริง',
       'วังน้ำเขียว', 'วังหมี', 'อุดมทรัพย์', 'ไทยสามัคคี', 'กฤษณา',
       'กุดน้อย', 'คลองไผ่', 'ดอนเมือง', 'บ้านหัน', 'มิตรภาพ',
       'ลาดบัวขาว', 'วังโรงใหญ่', 'สีคิ้ว', 'หนองน้ำใส', 'หนองบัวน้อย',
       'หนองหญ้าขาว', 'สามเมือง', 'สีดา', 'หนองตาดใหญ่', 'โนนประดู่',
       'โพนทอง', 'กุดจิก', 'นากลาง', 'บุ่งขี้เหล็ก', 'มะเกลือเก่า',
       'มะเกลือใหม่', 'สูงเนิน', 'หนองตะไก้', 'เสมา', 'โคราช', 'โค้งยาง',
       'โนนค่า', 'ลุงเขว้า', 'สารภี', 'หนองบุนนาก', 'หนองหัวแรต',
       'หนองไม้ไผ่', 'แหลมทอง', 'ไทยเจริญ', 'กงรถ', 'ตะโก', 'ทับสวาย',
       'หลุ่งตะเคียน', 'หลุ่งประดู่', 'ห้วยแคน', 'ห้วยแถลง',
       'เมืองพลับพลา', 'ช้างทอง', 'ท่าช้าง', 'พระพุทธ', 'หนองงูเหลือม',
       'หนองยาง', 'บึงปรือ', 'วังยายทอง', 'สำนักตะคร้อ', 'หนองแวง',
       'จอหอ', 'ตลาด', 'บ้านเกาะ', 'บ้านโพธิ์', 'ปรุใหญ่', 'พลกรัง',
       'พะเนา', 'พุดซา', 'มะเริง', 'สีมุม', 'สุรนารี', 'หนองกระทุ่ม',
       'หนองจะบก', 'หนองบัวศาลา', 'หนองไข่น้ำ', 'หนองไผ่ล้อม', 'หมื่นไวย',
       'หัวทะเล', 'โคกกรวด', 'โคกสูง', 'โพธิ์กลาง', 'ไชยมงคล',
       'กระเบื้องนอก', 'ละหานปลาค้าว', 'เมืองยาง', 'โนนอุดม', 'กุดโบสถ์',
       'บ้านราษฎร์', 'สระตะเคียน', 'สุขไพบูลย์', 'เสิงสาง', 'โนนสมบูรณ์',
       'บึงพะไล', 'บึงสำโรง', 'แก้งสนามนาง', 'โนนสำราญ', 'กระโทก',
       'ด่านเกวียน', 'ทุ่งอรุณ', 'ท่าจะหลุง', 'ท่าลาดขาว', 'ท่าอ่าง',
       'ท่าเยี่ยม', 'พลับพลา', 'ละลมใหม่พัฒนา', 'โชคชัย', 'ขามเฒ่า',
       'จันอัด', 'ดอนชมพู', 'ดอนหวาย', 'ด่านคล้า', 'ธารปราสาท', 'บิง',
       'พลสงคราม', 'มะค่า', 'ลำคอหงษ์', 'ลำมูล', 'หลุมข้าว',
       'เมืองปราสาท', 'โตนด', 'โนนสูง', 'ใหม่', 'ดอนยาวใหญ่', 'วังหิน',
       'สำพะเนียง', 'โนนตาเถร', 'โนนแดง', 'กำปัง', 'ค้างพลู', 'ด่านจาก',
       'ถนนโพธิ์', 'บัลลังก์', 'บ้านวัง', 'สายออ', 'โนนไทย'], dtype=object)

In [32]:

# amphoe to dataframe
df_amphoe = pd.DataFrame(amphoe, columns=['amphoe'])
df_amphoe

             amphoe
0         ขามทะเลสอ
1        ขามสะแกแสง
2                คง
3            ครบุรี
4            จักราช
5            ชุมพวง
6         ด่านขุนทด
7            บัวลาย
8           บัวใหญ่
9       บ้านเหลื่อม
10           ประทาย
11         ปักธงชัย
12          ปากช่อง
13         พระทองคำ
14            พิมาย
15       ลำทะเมนชัย
16      วังน้ำเขียว
17           สีคิ้ว
18             สีดา
19          สูงเนิน
20       หนองบุญมาก
21         ห้วยแถลง
22  เฉลิมพระเกียรติ
23        เทพารักษ์
24  เมืองนครราชสีมา
25         เมืองยาง
26          เสิงสาง
27      แก้งสนามนาง
28           โชคชัย
29           โนนสูง
30           โนนแดง
31           โนนไทย

In [33]:
# filter by amphoe and district
df = df[df['amphoe'] == 'โชคชัย']
df

,district,amphoe,province,zipcode,district_code,amphoe_code,province_code
248,กระโทก,โชคชัย,นครราชสีมา,30190,300701,3007,30
249,ด่านเกวียน,โชคชัย,นครราชสีมา,30190,300710,3007,30
250,ทุ่งอรุณ,โชคชัย,นครราชสีมา,30190,300704,3007,30
251,ท่าจะหลุง,โชคชัย,นครราชสีมา,30190,300706,3007,30
252,ท่าลาดขาว,โชคชัย,นครราชสีมา,30190,300705,3007,30
253,ท่าอ่าง,โชคชัย,นครราชสีมา,30190,300703,3007,30
254,ท่าเยี่ยม,โชคชัย,นครราชสีมา,30190,300707,3007,30
255,พลับพลา,โชคชัย,นครราชสีมา,30190,300702,3007,30
256,ละลมใหม่พัฒนา,โชคชัย,นครราชสีมา,30190,300709,3007,30
257,โชคชัย,โชคชัย,นครราชสีมา,30190,300708,3007,30

In [ ]:

#--------------------------
amphoe=""
dept_name=""
#--------------------------

In [3]:
import requests
import json
import pandas as pd
url="https://opend.data.go.th/govspending/egpdepartment"
api_key=""
params = {
    "api-key": api_key,
    "dept_name": dept_name
}
response = requests.get(url,params=params)
data = response.json()

In [4]:
# filter result
df = pd.DataFrame(data['result'])
df

    dept_code                              dept_name
0     5300801                    เทศบาลตำบลด่านขุนทด
1   001087700                     โรงพยาบาลด่านขุนทด
2  1030050010                      โรงเรียนด่านขุนทด
3  1030052001                 โรงเรียนมัธยมด่านขุนทด
4  1230080000               ศูนย์ กศน.อำเภอด่านขุนทด
5   E15090136  ศูนย์พัฒนาเด็กเล็กเทศบาลตำบลด่านขุนทด
6     6300802         องค์การบริหารส่วนตำบลด่านขุนทด

In [5]:
# filter dept_name using regex prefix only เทศบาลตำบล
# regex pattern ^เทศบาลตำบล
df = df[df['dept_name'].str.contains('^เทศบาลตำบล', regex=True)]
df

  dept_code            dept_name
0   5300801  เทศบาลตำบลด่านขุนทด

In [6]:
# print dept_code
dept_code = df['dept_code'].values[0]
dept_code

'5300801'

In [7]:
# get api 
import requests
import json
import pandas as pd

url = 'https://opend.data.go.th/govspending/summary_cgdcontract'
api_key = "t9JlvVEJHWcmMYqP9Vb1tEdW44Gcei4t"
year=2566
dept_code=dept_code
params = {
    "api-key": api_key,
    "year": year,
    "dept_code": dept_code
}
response = requests.get(url,params=params)
data = response.json()

In [9]:
data

{'code': 200,
 'status': True,
 'msg': '',
 'time': '2024-01-22 02:28:22',
 'param_obj': {'year': 2566,
  'keyword': '',
  'dept_code': '5300801',
  'winner_tin': '',
  'budget_start': 0,
  'budget_end': ''},
 'summary': {'total_project': '131',
  'total_price': '7.34',
  'unformatted_total_price': 7342769.85,
  'total_price_baht': '7,342,769.85',
  'unformatted_total_project': 131}}

In [10]:
# save data to json file
with open('dept_code_{}.json'.format(dept_code), 'w') as f:
    json.dump(data, f)